nav {
    display: flex;
    justify-content: space-between;
}

.link {
    color: #666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navegacion{
    margin-bottom: 3%;
}